<html>
  <head>
    <meta charset="UTF-8">
    <title>Text me something</title>
  </head>

  <body>
    <form action="{{ url_for('text_delta') }}" method="post">
      <input type="text" name="user">
      <input type="text" name="message">
      <input type="submit">
    </form>
  </body>
</html>
